$green-1 : #075700;
$white : #FFFFFF;
@define-mixin baseContainer{
	width : 90%;
	margin : 2% 5%;
	white-space : nowrap;
	border-radius : 10px;
}
body{
	background-color : #FFFFFF;
	color : $green-1;
}
header{
	@mixin baseContainer;
	background-image : url($header-1);
	height : 200px;
	padding: 0 3%;
	color : $white;
	.title-type-1{
		margin-top: 4%;
		text-align : center;
		>p{
			&:first-child{
				font-size : 1.5vw;
			}
			&:last-child{
				font-size : 1.9vw;
				font-weight : bold;
			}
		}
	}
	img{
		margin : 5px;
	}
}

.panel{
	@mixin baseContainer;
	background : $green-1;
	color: $white;
}

footer{
	@mixin baseContainer;
	border-top: 3px solid $green-1;
	text-align : center;
	border-radius : 0;
	color : $green-1;
}
.no-horizontal-padding{
	padding-left : 0;
	padding-right : 0;
}